[Unit]
Description=xremap mouse remapper
; Documentation=https://github.com/xremap/xremap
; After=graphical-session-pre.target
; PartOf=graphical-session.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/xremap --mouse --device "/dev/input/by-id/usb-E-Signal_USB_Gaming_Mouse-event-mouse" --watch /home/elem/.config/xremap/config.yml
Restart=always
; Restart=on-failure
; RestartSec=5
User=root
Group=root
StandardOutput=journal
StandardError=journal

# Required for device access
; PrivateTmp=no

[Install]
WantedBy=multi-user.target
